# copied usr/ folder of N64OS installations
usr/

# n64split
swe1r.*.split/

# ROMs
*.z64
*.z64.boot.bin

# IDA Pro
swe1r.*.idb
swe1r.*.id0
swe1r.*.id1
swe1r.*.nam
swe1r.*.til

# ucode (copied from /ucode/)
ucode.bin
ucode_boot.bin

# sound
n64soundtools/
N64SoundListTool/
